* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
/* #fce0e0 */
.product-tabs-section {
    background-color: #fef2f2;
    margin-top: 20px;
    padding: 100px 200px;
    border-radius: 10px;
}
.product-tabs-row {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
}
#product-tab, #product-details-col {
    width: 50%;
}
#product-tab button {
    width: 100%;
    border: none;
    background: #fce0e0;
    padding: 30px 20px;
    font-size: 20px;
    text-transform: capitalize;
    color: #242424;
    border-radius: 6px;
    transition: all;
    transition-duration: 0.5s;
    position: relative;
}
#product-tab button:not(:last-child) {
    margin-bottom: 30px;
}
#product-tab button:hover,
#product-tab button.active {
    background-color: #ffffff;
}
#product-tab button:hover {
    cursor: pointer;
}
#product-tab button .cheveron-icon {
    font-size: 12px;
    position: absolute;
    top: 35px;
    right: 20px;
}

#product-details-col img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}
#product-details-col h2 {
    font-size: 32px;
    color: #505050;
    margin-bottom: 10px;
    text-transform: capitalize;
}
#product-details-col p {
    color: #505050;
    line-height: 1.4;
}
.product-details {
    display: none;
}
.product-details.active {
    display: block;
}
